/* main.css */
/* 2015-05-17 taiti */
@charset "utf-8"

body {
	margin: 0;
}

#container {
	margin: 0 auto;
	width: 600px;
}

/* header */
#header{
	background: #f00;
}

/* main */
#main {
	background: blue;
	overflow: hidden;
}

/* main/left */
#left {
	background: #9933FF;
	float: left;
	width: 200px;
}

/* main/right */
#right {
	background: #FFCCFF;
	margin-left: 200px;
}

/* footer */
#footer {
	background: green;
}