/* main.css */
/* 2015-05-17 taiti */
@charset "utf-8"

body {
	margin: 0;
}

/* container */
#container {
	margin: 0 auto;
	width: 500px;
}

/* header */
#header{
	background: #f00;
	margin: 0 0 20px 0;
}

/* main */
#main {
	background: blue;
	overflow: hidden;
	margin: 50px 0 0 0;
}

/* main/left */
#left {
	background: #4CA8E5;
	float: left;
	width: 100px;
}

/* main/center*/
#center {
	background: #95F0B1;
	float: left;
	width: 280px;
	margin: 0 10px 0 10px;
}

/* main/right */
#right {
	background: #FFADF3;
	float: right;
	width: 100px;
}

/* footer*/
#footer {
	background: #4C6FBA;
}