/* main.css */
/* 2015-05-17 taiti */
@charset "utf-8"

body {
	margin: 0;
}

#container {
	margin: 0 auto;
	width: 500px;
}

#header{
	background: #f00;
}

#main {
	background: blue;
}

#footer {
	background: green;
}